.button-download {
	background: #32CC30;
	color: black;
	font-size: 25px;
	text-shadow: 1px 1px #CACACA;
	width: 35%;
}

body {
	background: #E8E8EA;
}

.section_head {
	letter-spacing: 10px;
	font-weight: bold;
}
